table {
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    width: 10px;
    height: 10px;
    border: 1px solid #ccc;
    background-color: white;
}

td.black {
    background-color: black;
}

table.invert td {
    background-color: black;
}

table.invert td.black {
    background-color: white;
}